/************************************************
 *
 *    Import all dependancies
 *
 ************************************************/
@import url(lib/reset.less);


/************************************************
 *
 *    Variables & Mixins
 *
 ************************************************/
@white: #ffffff;
@black: #000000;
@ltGray: #F2F2F2;

.clear {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}

.fontSize8 { font-size: 0.667em; }
.fontSize10 { font-size: 0.834em; }
.fontSize12 { font-size: 1em; }
.fontSize16 { font-size: 1.334em; }
.fontSize18 { font-size: 1.5em; }
.fontSize20 { font-size: 1.667em; }
.fontSize24 { font-size: 2em; }


/************************************************
 *
 *    Global Styles
 *
 ************************************************/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: @white;
  font-family: 'sangbleu_sanslight', arial, helvetica, sans-serif;
  color: @black;
  font-size: 12px;
  line-height: 1.4;
  word-spacing: 2px;

  a {
    color: @black;
    text-decoration: none;
    outline: none;
    display: inline-block;
    vertical-align: top;

    &:hover {}

    &:active,
    &:visited {
      outline: none;
      text-decoration: none;
    }
  }

  h1 {
    text-transform: uppercase;
    .fontSize18;
  }

  p { margin-bottom: 15px; }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  strong { font-weight: 700; }

  .wrapper {
    width: 88%;
    max-width: 800px;
    position: relative;
    margin: 0 auto;

    .content {
      background-color: @ltGray;
      position: relative;
      height: 500px;
      max-height: 500px;
      max-width: 800px;
      margin-top: 135px;

      .section {
        overflow: hidden;

        &:after { .clear; }
      }
    }
  }
}

.upper { text-transform: uppercase; }

.arrow-previous,
.arrow-next {
  display: block;
  width: 16px;
  height: 72px;
  position: absolute;
  top: 50%;
  margin-top: -36px;
  text-indent: -9999px;
}

.arrow-previous {
  background: url(../img/arrow-prev.png) no-repeat 0 0;
  left: -4%;
}

.arrow-next {
  background: url(../img/arrow-next.png) no-repeat 0 0;
  right: -4%;
}


::selection { background: rgba(0, 0, 0, 0.10); }
::-moz-selection { background: rgba(0, 0, 0, 015); }


[class^="text-"] {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 0 0;
}


/************************************************
 *
 *    Header & Navigation Styles
 *
 ************************************************/
.header {
  text-align: center;
  padding: 26px 0 17px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: @white;
  z-index: 1000;
  margin: auto;
  
  .logo {
    display: block;
    width: 238px;
    margin: 0 auto 52px;
  }
}

/* Navigation Styles */

.nav {
  zoom: 1;
  width: 518px;
  margin: auto;

  &:after { .clear; }

  >li {
    display: inline-block;
    //width: 100%/3;
    position: relative;
    margin-left: 19.5%;

    &:first-child { margin-left: -60px; }
    h5 { cursor: default; }

    a,
    h5 {
      display: inline-block;
      text-transform: uppercase;
    }

    .dropdown {
      display: none;
      background: @white;
      margin-left: -30%;
      padding: 48px 30% 21px;
      position: absolute;
      top: 15px;
      left: 50%;
      z-index: 10;

      h3 {
        margin-bottom: 25px;
      }

      ul {

        &:after { .clear; }

        li {
          width: auto;
          float: right;
          margin-bottom: 8px;

          &:last-child { margin-bottom: 0; }

          a {
            line-height: 24px;
            height: 24px;
            vertical-align: middle;

            &:hover {}
          }
        }
      }
    }

    &.nav-1 {

      .text-readyToWear {
        background-image: url(../img/text-readyToWear.png);
        width: 107px;
        height: 11px;
      }
      
      .dropdown {
        width: 220px;
        margin-left: -50%;

        .text-springSummer2014 {
          background-image: url(../img/text-springSummer2014.png);
          width: 152px;
          height: 11px;
        }

        .text-inspiration {
          background-image: url(../img/text-inspiration.png);
          width: 83px;
          height: 11px;
          margin-left: 72px;
        }

        .text-looks {
          background-image: url(../img/text-looks.png);
          width: 46px;
          height: 10px;
          margin-left: 114px;
        }

        .text-campaign {
          background-image: url(../img/text-campaign.png);
          width: 70px;
          height: 11px;
          margin-left: 92px;
        }
      }
    }
    
    &.nav-2 {

      .text-discoverYuliaVital {
        background-image: url(../img/text-discoverYuliaVital.png);
        width: 152px;
        height: 11px;
      }
      
      .dropdown {
        width: 223px;
        margin-left: -52%;
        padding: 42px 32px 22px;

        ul {

          li {
            text-align: left;
            float: none;
            margin-bottom: 19px;
          }
        }

        .text-facebook {
          background-image: url(../img/text-facebook.png);
          width: 72px;
          height: 11px;
        }

        .text-twitter {
          background-image: url(../img/text-twitter.png);
          width: 56px;
          height: 10px;
        }

        .text-pinterest {
          background-image: url(../img/text-pinterest.png);
          width: 71px;
          height: 11px;
        }
      }
    }
    
    &.nav-3 {

      .text-stores {
        background-image: url(../img/text-stores.png);
        width: 51px;
        height: 11px;
      }
    }

    &:hover {

      .dropdown { display: block; }
    }
  }
}


/************************************************
 *
 *    Footer Styles
 *
 ************************************************/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0 7px;
  background: @white;

  .footer-content {
    position: relative;
    max-width: 800px;
    margin: auto;
  }

  .nav {
    width: 375px;
    margin: 0 auto;

    li:first-child { margin-left: 0; }

    .text-newsletter {
      background-image: url(../img/text-newsletter.png);
      width: 85px;
      height: 11px;
    }

    .text-contact {
      background-image: url(../img/text-contact.png);
      width: 66px;
      height: 11px;
    }

    .text-legal {
      background-image: url(../img/text-legal.png);
      width: 41px;
      height: 11px;
    }
  }

  .text-copyright {
    background-image: url(../img/text-copyright.png);
    width: 100px;
    height: 9px;
    position: absolute;
    bottom: 5px;
    right: 0;
    margin: 0;
  }
}


/************************************************
 *
 *    Campaign Section Styles
 *
 ************************************************/
.campaign-page {

  .content {
    text-align: center;

    h1 { margin-bottom: 25px; }
    p{ .fontSize10; }
  }
}


/************************************************
 *
 *    Contact Section Styles
 *
 ************************************************/
.contact-page {

  .content {
    padding: 150px 14% 0;
    text-align: center;
    overflow-y: scroll;

    h1 { margin-bottom: 25px; }
    p{ .fontSize10; }

    .text-header-contact {
      background-image: url(../img/text-header-contact.png);
      width: 111px;
      height: 17px;
      margin-left: auto;
      margin-right: auto;
    }

    .text-address {
      background-image: url(../img/text-address.png);
      width: 376px;
      height: 11px;
      margin-left: auto;
      margin-right: auto;
    }

    .text-general {
      background-image: url(../img/text-general.png);
      display: inline-block;
      width: 56px;
      height: 9px;
    }

    .text-emailAddress-info {
      background-image: url(../img/text-emailAddress-info.png);
      width: 100px;
      height: 11px;
    }

    .text-press {
      background-image: url(../img/text-press.png);
      display: inline-block;
      width: 37px;
      height: 9px;
    }

    .text-emailAddress-press {
      background-image: url(../img/text-emailAddress-press.png);
      width: 107px;
      height: 11px;
    }

    .text-sales {
      background-image: url(../img/text-sales.png);
      display: inline-block;
      width: 37px;
      height: 9px;
    }

    .text-emailAddress-sales {
      background-image: url(../img/text-emailAddress-sales.png);
      width: 105px;
      height: 11px;
    }
  }
}


/************************************************
 *
 *    HomePage Section Styles
 *
 ************************************************/
.home-page {}


/************************************************
 *
 *    Inspiration Section Styles
 *
 ************************************************/
.inspiration-page {

  .content {
    background: url(../img/inspiration-main-bg.jpg) no-repeat center;
    color: @white;
    padding: 100px 0 0 13%;

    .inspiration-text {
      float: left;
      width: 180px;
      height: 385px;

      h1 {
        margin: 0 0 15px;

        &.text-header-inspiration {
          background-image: url(../img/text-header-inspiration.png);
          width: 136px;
          height: 16px;
        }
      }

      h1,
      p {
        width: 144px;
      }

      p { .fontSize10; }

      .jspTrack { background: transparent; }
    }
  }
}


/************************************************
 *
 *    Legal Section Styles
 *
 ************************************************/
.legal-page {

  .content {
    text-align: center;

    .legal-content {
      padding: 83px 14% 63px;
      background: @ltGray;
    }

    h1 {
      margin-bottom: 25px;

      &.text-header-legal {
        background-image: url(../img/text-header-legal.png);
        width: 68px;
        height: 17px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    p {
      font-weight: 700;
      .fontSize10;
    }
  }
}


/************************************************
 *
 *    Looks Section Styles
 *
 ************************************************/
.looks-page {

  //.wrapper { width: 748px; }
  
  .content {
    text-align: center;
    width: 798px;
    //width: 748px;
    //height: 500px !important;

    .connected-carousels {
      background: #f2f2f2;
      padding-bottom: 43px;
    }

    ul {

      &:after { .clear; }

      li {
        float: left;
        height: auto;
        position: relative;
      }
    }

    .stage {
      position: relative;
    }

    .prev,
    .next {
      display: block;
      width: 16px;
      height: 72px;
      text-indent: -9999px;
      position: absolute;
      top: 50%;
      margin-top: -101px;
      z-index: 100;

      &:hover {
        //background-color: rgba(0, 0, 0, 0.05);
      }
    }

    .prev {
      background: url(../img/arrow-prev.png) no-repeat center;
      left: -4%;
      //-webkit-border-top-right-radius: 8px;
      //-moz-border-top-right-radius: 8px;
      //border-top-right-radius: 8px;
      //-webkit-border-bottom-right-radius: 8px;
      //-moz-border-bottom-right-radius: 8px;
      //border-bottom-right-radius: 8px;
    }

    .next {
      background: url(../img/arrow-next.png) no-repeat center;
      right: -4%;
      //-webkit-border-top-left-radius: 8px;
      //-moz-border-top-left-radius: 8px;
      //border-top-left-radius: 8px;
      //-webkit-border-bottom-left-radius: 8px;
      //-moz-border-bottom-left-radius: 8px;
      //border-bottom-left-radius: 8px;
    }

    .carousel-stage {
      width: 798px;
      overflow-x: hidden;
      position: relative;

      ul {
        position: relative;
        width: 10000px;
        margin-bottom: 20px;
        //margin-left: 5px;

        &:after { .clear; }

        li {
          width: 260px;
          margin: 0 9px 0 0;

          .summary {
            background: rgba(0, 0, 0, 0.4);
            display: none;
            width: 175px;
            color: @white;
            padding: 17px 8px 14px 14px;
            position: absolute;
            top: 30%;
            left: -120px;
            z-index: 10;
            text-align: right;
            -webkit-transition: opacity 0.25s ease-in-out;
            -moz-transition: opacity 0.25s ease-in-out;
            -ms-transition: opacity 0.25s ease-in-out;
            -o-transition: opacity 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out;

            .item-number {
              font-size: 0.5425em;
              margin: -9px 0 0;
              line-height: 1;
            }

            h6 {
              font-size: 0.8em;
              text-transform: uppercase;
              margin-bottom: 4px;
              line-height: 1.8;
            }

            .description {
              font-size: 0.7em;
              margin-bottom: 0;
            }
          }

          .vignette {
            background: url(../img/vignette.png) no-repeat 0 0;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            height: 100%;
          }

          &:last-child { margin-right: 0; }

          &:hover {
            
            .vignette,
            .summary { display: block; }
          }

          &:not(.visible) + .visible {

            .summary {
              left: auto;
              right: -120px;
            }
          }
        }
      }
    }

    .carousel-navigation {
      position: relative;
      
      ul {
        margin-left: -5px;

        li {
          width: 156px;
          margin: 0 0 5px 0.555%;
          position: relative;

          &.active {
            .overlay {
              background: rgba(0, 0, 0, 0.4);
              position: absolute;
              top: 0;
              left: 50%;
              width: 245px;
              height: 100%;
              margin-left: -185px;
              z-index: 1;
            }
          }
          &.active + li {
            .overlay {
              background: rgba(0, 0, 0, 0.4);
              position: absolute;
              top: 0;
              left: 0;
              width: 125px;
              height: 100%;
              margin-left: -5px;
              z-index: 1;
            }
          }

          //&:nth-child(5n + 1) { margin-left: 0; }
        }
      }

      .overlay {
        background: rgba(0, 0, 0, 0.4);
        width: 476px;
        height: 222px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .fancybox-wrap { margin-top: 46px; }

  .fancybox-skin {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
  }

  .fancybox-close {
    background-image: url(../img/button-close.png);
    width: 15px;
    height: 16px;
    top: -32px;
    right: -32px;
  }

  .generic-popup {
    width: 100%;
    min-width: 900px;
    height: 564px;

    .details {
      width: 200px;
      position: absolute;
      top: 20px;
      right: 25px;

      .item-number {
        font-size: 0.875em;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 1.2em;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      p {
        font-size: 0.625em;
      }
    }

    img {
      //cursor: url(../img/zoom-in.cur), default;
    }
  }
}


/************************************************
 *
 *    Newsletter Section Styles
 *
 ************************************************/
.newsletter-page {

  .content {
    padding: 100px 14% 0;
    text-align: center;
    overflow-y: scroll;

    .main-content {
      width: 43.475%;
      margin: 0 auto;
      
      h1 {
        margin-bottom: 30px;

        &.text-header-newsletter {
          background-image: url(../img/text-header-newsletter.png);
          width: 140px;
          height: 17px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      p {
        text-transform: uppercase;
        margin-bottom: 45px;
        .fontSize10;

        &.text-keepInTouch {
          background-image: url(../img/text-keepInTouch.png);
          width: 220px;
          height: 9px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      form {

        label {
          display: block;
          text-transform: uppercase;
          margin-bottom: 10px;
          .fontSize10;

          &.text-name {
            background-image: url(../img/text-name.png);
            width: 32px;
            height: 9px;
            margin-left: auto;
            margin-right: auto;
          }

          &.text-emailAddress {
            background-image: url(../img/text-emailAddress.png);
            width: 95px;
            height: 9px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        input {
          display: block;
          .fontSize10;

          &[type="text"] {
            width: 100%;
            height: 20px;
            margin-bottom: 15px;
            border: 1px solid @black;
            background: @ltGray;
            outline: none;
            padding-left: 10px;
            text-transform: uppercase;
          }

          &.name-input {}
          &.email-input {}
          &.btn-subscribe {
            background: @black;
            border: none 0;
            color: @white;
            display: block;
            margin: 0 auto 0;
            cursor: pointer;
          }

          &.btn-subscribe {
            background-image: url(../img/btn-send.jpg);
            width: 41px;
            height: 19px;
            //padding: 3px 6px 3px;
          }
        }
      }
    }
  }
}


/************************************************
 *
 *    Stores Section Styles
 *
 ************************************************/
.stores-page {

  .content {
    text-align: center;

    ul {
      padding: 12px 8% 0;

      &:after { .clear; }

      li {
        width: 49%;
        float: left;
        margin-top: 12px;

        &:nth-child(even) { margin-left: 2%; }

        a {

          img {
            margin-bottom: 7px;
          }

          h4 {
            text-transform: uppercase;
            text-align: left;
            font-size: 0.75em;
          }
        }
      }
    }
  }
}

/* ****************
  Individual Stores
***************** */
.la-store-page,
.ny-store-page,
.london-store-page,
.paris-store-page {

  .contact-info {
    position: absolute;
    bottom: 15px;
    left: 20px;

    h3 {}

    p { margin-bottom: 0; }
  }
}

/* *********************
  LA Store Page
********************** */
.la-store-page {}

/* *********************
  NY Store Page
********************** */
.ny-store-page {}

/* *********************
  Paris Store Page
********************* */
.paris-store-page {}

/* *********************
  London Store Page
********************** */
.london-store-page {}


/* **********************************************
 *
 *    Carousel Styles
 *
 ********************************************** */
.carousel {
  position: relative;
  width: 100%;

  &:after { .clear; }

  li {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}


/* ***********************************************
 *
 *    Hover State image background Styles
 *
 *********************************************** */
.hover-img-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.campaign-hover,
.contact-hover,
.inspiration-hover,
.legal-hover,
.looks-hover,
.newsletter-hover,
.stores-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.looks-hover {
  background: @white;
  width: 100%;
  zoom: 1;

  &:after { .clear; }

  img {
    width: 49.8%;

    &.looks-one {
      position: absolute;
      top: 0;
      left: 0;
    }

    &.looks-two {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}




/* ***********************************************
 *
 *    Media Query Styles
 *
 *********************************************** */
@media (max-width: 767px) {

  .contact-page .content { padding: 60px 14% 50px; }
}

@media (max-width: 591px) {
  .header {

    .nav {

      li {

        &.nav-2 {

          a {}

          .dropdown {
            top: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .header {

    .nav {

      li {

        &.nav-1 {
          .dropdown { margin-left: -50%; }
        }

        &.nav-2 {
          .dropdown { margin-left: -90%; }
        }

        a {}

        .dropdown {
          top: 30px;
        }
      }
    }
  }

  .footer {
    
    .nav {
      width: 100%;

      li {
        width: auto;
        margin-left: 6.6%;

        &:first-child { margin-left: 0; }
      }
    }
    
    .copyright { bottom: -20px; }
  }
}


