/************************************************
 *
 *    Import all dependancies
 *
 ************************************************/
/*******************************************
*
*   Reset Default Styles
*
********************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Reset all default styles
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html:focus,
body:focus,
div:focus,
span:focus,
applet:focus,
object:focus,
iframe:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
blockquote:focus,
pre:focus,
a:focus,
abbr:focus,
acronym:focus,
address:focus,
big:focus,
cite:focus,
code:focus,
del:focus,
dfn:focus,
em:focus,
img:focus,
ins:focus,
kbd:focus,
q:focus,
s:focus,
samp:focus,
small:focus,
strike:focus,
strong:focus,
sub:focus,
sup:focus,
tt:focus,
var:focus,
b:focus,
u:focus,
i:focus,
center:focus,
dl:focus,
dt:focus,
dd:focus,
ol:focus,
ul:focus,
li:focus,
fieldset:focus,
form:focus,
label:focus,
legend:focus,
table:focus,
caption:focus,
tbody:focus,
tfoot:focus,
thead:focus,
tr:focus,
th:focus,
td:focus,
article:focus,
aside:focus,
canvas:focus,
details:focus,
embed:focus,
figure:focus,
figcaption:focus,
footer:focus,
header:focus,
hgroup:focus,
menu:focus,
nav:focus,
output:focus,
ruby:focus,
section:focus,
summary:focus,
time:focus,
mark:focus,
audio:focus,
video:focus,
button:focus,
select:focus,
input:focus {
  outline: none;
}
/************************************************
 *
 *    Variables & Mixins
 *
 ************************************************/
.clear {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.fontSize8 {
  font-size: 0.667em;
}
.fontSize10 {
  font-size: 0.834em;
}
.fontSize12 {
  font-size: 1em;
}
.fontSize16 {
  font-size: 1.334em;
}
.fontSize18 {
  font-size: 1.5em;
}
.fontSize20 {
  font-size: 1.667em;
}
.fontSize24 {
  font-size: 2em;
}
/************************************************
 *
 *    Global Styles
 *
 ************************************************/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background: #ffffff;
  font-family: 'sangbleu_sanslight', arial, helvetica, sans-serif;
  color: #000000;
  font-size: 12px;
  line-height: 1.4;
  word-spacing: 2px;
}
body a {
  color: #000000;
  text-decoration: none;
  outline: none;
  display: inline-block;
  vertical-align: top;
}
body a:active,
body a:visited {
  outline: none;
  text-decoration: none;
}
body h1 {
  text-transform: uppercase;
  font-size: 1.5em;
}
body p {
  margin-bottom: 15px;
}
body img {
  width: 100%;
  height: auto;
  display: block;
}
body strong {
  font-weight: 700;
}
body .wrapper {
  width: 88%;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
}
body .wrapper .content {
  background-color: #f2f2f2;
  position: relative;
  height: 500px;
  max-height: 500px;
  max-width: 800px;
  margin-top: 135px;
}
body .wrapper .content .section {
  overflow: hidden;
}
body .wrapper .content .section:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.upper {
  text-transform: uppercase;
}
.arrow-previous,
.arrow-next {
  display: block;
  width: 16px;
  height: 72px;
  position: absolute;
  top: 50%;
  margin-top: -36px;
  text-indent: -9999px;
}
.arrow-previous {
  background: url(../img/arrow-prev.png) no-repeat 0 0;
  left: -4%;
}
.arrow-next {
  background: url(../img/arrow-next.png) no-repeat 0 0;
  right: -4%;
}
::selection {
  background: rgba(0, 0, 0, 0.1);
}
::-moz-selection {
  background: #000000;
}
[class^="text-"] {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
/************************************************
 *
 *    Header & Navigation Styles
 *
 ************************************************/
.header {
  text-align: center;
  padding: 26px 0 17px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 1000;
  margin: auto;
}
.header .logo {
  display: block;
  width: 238px;
  margin: 0 auto 52px;
}
/* Navigation Styles */
.nav {
  zoom: 1;
  width: 518px;
  margin: auto;
}
.nav:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.nav > li {
  display: inline-block;
  position: relative;
  margin-left: 19.5%;
}
.nav > li:first-child {
  margin-left: -60px;
}
.nav > li h5 {
  cursor: default;
}
.nav > li a,
.nav > li h5 {
  display: inline-block;
  text-transform: uppercase;
}
.nav > li .dropdown {
  display: none;
  background: #ffffff;
  margin-left: -30%;
  padding: 48px 30% 21px;
  position: absolute;
  top: 15px;
  left: 50%;
  z-index: 10;
}
.nav > li .dropdown h3 {
  margin-bottom: 25px;
}
.nav > li .dropdown ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.nav > li .dropdown ul li {
  width: auto;
  float: right;
  margin-bottom: 8px;
}
.nav > li .dropdown ul li:last-child {
  margin-bottom: 0;
}
.nav > li .dropdown ul li a {
  line-height: 24px;
  height: 24px;
  vertical-align: middle;
}
.nav > li.nav-1 .text-readyToWear {
  background-image: url(../img/text-readyToWear.png);
  width: 107px;
  height: 11px;
}
.nav > li.nav-1 .dropdown {
  width: 220px;
  margin-left: -50%;
}
.nav > li.nav-1 .dropdown .text-springSummer2014 {
  background-image: url(../img/text-springSummer2014.png);
  width: 152px;
  height: 11px;
}
.nav > li.nav-1 .dropdown .text-inspiration {
  background-image: url(../img/text-inspiration.png);
  width: 83px;
  height: 11px;
  margin-left: 72px;
}
.nav > li.nav-1 .dropdown .text-looks {
  background-image: url(../img/text-looks.png);
  width: 46px;
  height: 10px;
  margin-left: 114px;
}
.nav > li.nav-1 .dropdown .text-campaign {
  background-image: url(../img/text-campaign.png);
  width: 70px;
  height: 11px;
  margin-left: 92px;
}
.nav > li.nav-2 .text-discoverYuliaVital {
  background-image: url(../img/text-discoverYuliaVital.png);
  width: 152px;
  height: 11px;
}
.nav > li.nav-2 .dropdown {
  width: 223px;
  margin-left: -52%;
  padding: 42px 32px 22px;
}
.nav > li.nav-2 .dropdown ul li {
  text-align: left;
  float: none;
  margin-bottom: 19px;
}
.nav > li.nav-2 .dropdown .text-facebook {
  background-image: url(../img/text-facebook.png);
  width: 72px;
  height: 11px;
}
.nav > li.nav-2 .dropdown .text-twitter {
  background-image: url(../img/text-twitter.png);
  width: 56px;
  height: 10px;
}
.nav > li.nav-2 .dropdown .text-pinterest {
  background-image: url(../img/text-pinterest.png);
  width: 71px;
  height: 11px;
}
.nav > li.nav-3 .text-stores {
  background-image: url(../img/text-stores.png);
  width: 51px;
  height: 11px;
}
.nav > li:hover .dropdown {
  display: block;
}
/************************************************
 *
 *    Footer Styles
 *
 ************************************************/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0 7px;
  background: #ffffff;
}
.footer .footer-content {
  position: relative;
  max-width: 800px;
  margin: auto;
}
.footer .nav {
  width: 375px;
  margin: 0 auto;
}
.footer .nav li:first-child {
  margin-left: 0;
}
.footer .nav .text-newsletter {
  background-image: url(../img/text-newsletter.png);
  width: 85px;
  height: 11px;
}
.footer .nav .text-contact {
  background-image: url(../img/text-contact.png);
  width: 66px;
  height: 11px;
}
.footer .nav .text-legal {
  background-image: url(../img/text-legal.png);
  width: 41px;
  height: 11px;
}
.footer .text-copyright {
  background-image: url(../img/text-copyright.png);
  width: 100px;
  height: 9px;
  position: absolute;
  bottom: 5px;
  right: 0;
  margin: 0;
}
/************************************************
 *
 *    Campaign Section Styles
 *
 ************************************************/
.campaign-page .content {
  text-align: center;
}
.campaign-page .content h1 {
  margin-bottom: 25px;
}
.campaign-page .content p {
  font-size: 0.834em;
}
/************************************************
 *
 *    Contact Section Styles
 *
 ************************************************/
.contact-page .content {
  padding: 150px 14% 0;
  text-align: center;
  overflow-y: scroll;
}
.contact-page .content h1 {
  margin-bottom: 25px;
}
.contact-page .content p {
  font-size: 0.834em;
}
.contact-page .content .text-header-contact {
  background-image: url(../img/text-header-contact.png);
  width: 111px;
  height: 17px;
  margin-left: auto;
  margin-right: auto;
}
.contact-page .content .text-address {
  background-image: url(../img/text-address.png);
  width: 376px;
  height: 11px;
  margin-left: auto;
  margin-right: auto;
}
.contact-page .content .text-general {
  background-image: url(../img/text-general.png);
  display: inline-block;
  width: 56px;
  height: 9px;
}
.contact-page .content .text-emailAddress-info {
  background-image: url(../img/text-emailAddress-info.png);
  width: 100px;
  height: 11px;
}
.contact-page .content .text-press {
  background-image: url(../img/text-press.png);
  display: inline-block;
  width: 37px;
  height: 9px;
}
.contact-page .content .text-emailAddress-press {
  background-image: url(../img/text-emailAddress-press.png);
  width: 107px;
  height: 11px;
}
.contact-page .content .text-sales {
  background-image: url(../img/text-sales.png);
  display: inline-block;
  width: 37px;
  height: 9px;
}
.contact-page .content .text-emailAddress-sales {
  background-image: url(../img/text-emailAddress-sales.png);
  width: 105px;
  height: 11px;
}
/************************************************
 *
 *    HomePage Section Styles
 *
 ************************************************/
/************************************************
 *
 *    Inspiration Section Styles
 *
 ************************************************/
.inspiration-page .insp-bg {
  width: 800px;
  position: fixed;
  top: 135px;
  left: 50%;
  margin-left: -400px;
}
.inspiration-page .content {
  background: transparent;
  color: #ffffff;
  padding: 100px 0 0 13%;
}
.inspiration-page .content .inspiration-text {
  position: relative;
  float: left;
  width: 180px;
  margin-bottom: 143px;
}
.inspiration-page .content .inspiration-text h1 {
  margin: 0 0 15px;
}
.inspiration-page .content .inspiration-text h1.text-header-inspiration {
  background-image: url(../img/text-header-inspiration.png);
  width: 136px;
  height: 16px;
}
.inspiration-page .content .inspiration-text h1,
.inspiration-page .content .inspiration-text p {
  width: 144px;
}
.inspiration-page .content .inspiration-text p {
  font-size: 0.834em;
}
.inspiration-page .content .inspiration-text .jspTrack {
  background: transparent;
}
/************************************************
 *
 *    Legal Section Styles
 *
 ************************************************/
.legal-page .content {
  text-align: center;
}
.legal-page .content .legal-content {
  padding: 83px 14% 63px;
  background: #f2f2f2;
}
.legal-page .content h1 {
  margin-bottom: 25px;
}
.legal-page .content h1.text-header-legal {
  background-image: url(../img/text-header-legal.png);
  width: 68px;
  height: 17px;
  margin-left: auto;
  margin-right: auto;
}
.legal-page .content p {
  font-weight: 700;
  font-size: 0.834em;
}
/************************************************
 *
 *    Looks Section Styles
 *
 ************************************************/
.looks-page .content {
  text-align: center;
  width: 800px;
}
.looks-page .content .connected-carousels {
  background: #f2f2f2;
  padding-bottom: 43px;
}
.looks-page .content ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.looks-page .content ul li {
  float: left;
  height: auto;
  position: relative;
}
.looks-page .content .stage {
  position: relative;
}
.looks-page .content .prev,
.looks-page .content .next {
  display: block;
  width: 16px;
  height: 72px;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  margin-top: -101px;
  z-index: 100;
}
.looks-page .content .prev {
  background: url(../img/arrow-prev.png) no-repeat center;
  left: -4%;
}
.looks-page .content .next {
  background: url(../img/arrow-next.png) no-repeat center;
  right: -4%;
}
.looks-page .content .carousel-stage {
  width: 800px;
  overflow-x: hidden;
  position: relative;
}
.looks-page .content .carousel-stage ul {
  position: relative;
  width: 10000px;
  margin-bottom: 20px;
}
.looks-page .content .carousel-stage ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.looks-page .content .carousel-stage ul li {
  width: 260px;
  margin: 0 9px 0 0;
}
.looks-page .content .carousel-stage ul li .summary {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  width: 175px;
  color: #ffffff;
  padding: 17px 8px 14px 14px;
  position: absolute;
  top: 30%;
  left: -120px;
  z-index: 10;
  text-align: right;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.looks-page .content .carousel-stage ul li .summary .item-number {
  font-size: 0.5425em;
  margin: -9px 0 0;
  line-height: 1;
}
.looks-page .content .carousel-stage ul li .summary h6 {
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 4px;
  line-height: 1.8;
}
.looks-page .content .carousel-stage ul li .summary .description {
  font-size: 0.7em;
  margin-bottom: 0;
}
.looks-page .content .carousel-stage ul li .vignette {
  background: url(../img/vignette.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}
.looks-page .content .carousel-stage ul li:last-child {
  margin-right: 0;
}
.looks-page .content .carousel-stage ul li:hover .vignette,
.looks-page .content .carousel-stage ul li:hover .summary {
  display: block;
}
.looks-page .content .carousel-stage ul li:not(.visible) + .visible .summary {
  left: auto;
  right: -120px;
}
.looks-page .content .carousel-navigation {
  position: relative;
}
.looks-page .content .carousel-navigation ul {
  margin-left: -5px;
}
.looks-page .content .carousel-navigation ul li {
  width: 156px;
  margin: 0 0 5px 5px;
  position: relative;
}
.looks-page .content .carousel-navigation ul li.active .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 50%;
  width: 245px;
  height: 100%;
  margin-left: -185px;
  z-index: 1;
}
.looks-page .content .carousel-navigation ul li.active + li .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  margin-left: -5px;
  z-index: 1;
}
.looks-page .content .carousel-navigation .overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 478px;
  height: 222px;
  position: absolute;
  top: 0;
  left: 0;
}
.looks-page .fancybox-wrap {
  margin-top: 46px;
}
.looks-page .fancybox-skin {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
.looks-page .fancybox-close {
  background-image: url(../img/button-close.png);
  width: 15px;
  height: 16px;
  top: -32px;
  right: -32px;
}
.looks-page .generic-popup {
  width: 100%;
  min-width: 900px;
  height: 564px;
}
.looks-page .generic-popup .details {
  width: 200px;
  position: absolute;
  top: 20px;
  right: 25px;
}
.looks-page .generic-popup .details .item-number {
  font-size: 0.875em;
  margin-bottom: 10px;
}
.looks-page .generic-popup .details h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.looks-page .generic-popup .details p {
  font-size: 0.625em;
}
/************************************************
 *
 *    Newsletter Section Styles
 *
 ************************************************/
.newsletter-page .content {
  padding: 100px 14% 0;
  text-align: center;
  overflow-y: scroll;
}
.newsletter-page .content .main-content {
  width: 43.475%;
  margin: 0 auto;
}
.newsletter-page .content .main-content h1 {
  margin-bottom: 30px;
}
.newsletter-page .content .main-content h1.text-header-newsletter {
  background-image: url(../img/text-header-newsletter.png);
  width: 140px;
  height: 17px;
  margin-left: auto;
  margin-right: auto;
}
.newsletter-page .content .main-content p {
  text-transform: uppercase;
  margin-bottom: 45px;
  font-size: 0.834em;
}
.newsletter-page .content .main-content p.text-keepInTouch {
  background-image: url(../img/text-keepInTouch.png);
  width: 220px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
}
.newsletter-page .content .main-content form label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 0.834em;
}
.newsletter-page .content .main-content form label.text-name {
  background-image: url(../img/text-name.png);
  width: 32px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
}
.newsletter-page .content .main-content form label.text-emailAddress {
  background-image: url(../img/text-emailAddress.png);
  width: 95px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
}
.newsletter-page .content .main-content form input {
  display: block;
  font-size: 0.834em;
}
.newsletter-page .content .main-content form input[type="text"] {
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  background: #f2f2f2;
  outline: none;
  padding-left: 10px;
  text-transform: uppercase;
}
.newsletter-page .content .main-content form input.btn-subscribe {
  background: #000000;
  border: none 0;
  color: #ffffff;
  display: block;
  margin: 0 auto 0;
  cursor: pointer;
}
.newsletter-page .content .main-content form input.btn-subscribe {
  background-image: url(../img/btn-send.jpg);
  width: 41px;
  height: 19px;
}
/************************************************
 *
 *    Stores Section Styles
 *
 ************************************************/
.stores-page .content {
  text-align: center;
}
.stores-page .content ul {
  padding: 12px 8% 0;
}
.stores-page .content ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.stores-page .content ul li {
  width: 49%;
  float: left;
  margin-top: 12px;
}
.stores-page .content ul li:nth-child(even) {
  margin-left: 2%;
}
.stores-page .content ul li a img {
  margin-bottom: 7px;
}
.stores-page .content ul li a h4 {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.75em;
}
/* ****************
  Individual Stores
***************** */
.la-store-page .contact-info,
.ny-store-page .contact-info,
.london-store-page .contact-info,
.paris-store-page .contact-info {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
.la-store-page .contact-info p,
.ny-store-page .contact-info p,
.london-store-page .contact-info p,
.paris-store-page .contact-info p {
  margin-bottom: 0;
}
/* *********************
  LA Store Page
********************** */
/* *********************
  NY Store Page
********************** */
/* *********************
  Paris Store Page
********************* */
/* *********************
  London Store Page
********************** */
/* **********************************************
 *
 *    Carousel Styles
 *
 ********************************************** */
.carousel {
  position: relative;
  width: 100%;
}
.carousel:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.carousel li {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* ***********************************************
 *
 *    Hover State image background Styles
 *
 *********************************************** */
.hover-img-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.campaign-hover,
.contact-hover,
.inspiration-hover,
.legal-hover,
.looks-hover,
.newsletter-hover,
.stores-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}
.looks-hover {
  background: #ffffff;
  width: 100%;
  zoom: 1;
}
.looks-hover:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.looks-hover img {
  width: 49.8%;
}
.looks-hover img.looks-one {
  position: absolute;
  top: 0;
  left: 0;
}
.looks-hover img.looks-two {
  position: absolute;
  top: 0;
  right: 0;
}
/* ***********************************************
 *
 *    Media Query Styles
 *
 *********************************************** */
@media (max-width: 767px) {
  .contact-page .content {
    padding: 60px 14% 50px;
  }
}
@media (max-width: 591px) {
  .header .nav li.nav-2 .dropdown {
    top: 30px;
  }
}
@media (max-width: 450px) {
  .header .nav li.nav-1 .dropdown {
    margin-left: -50%;
  }
  .header .nav li.nav-2 .dropdown {
    margin-left: -90%;
  }
  .header .nav li .dropdown {
    top: 30px;
  }
  .footer .nav {
    width: 100%;
  }
  .footer .nav li {
    width: auto;
    margin-left: 6.6%;
  }
  .footer .nav li:first-child {
    margin-left: 0;
  }
  .footer .copyright {
    bottom: -20px;
  }
}
